DEBUG=False

APP_BASE_URL=http://localhost:8000

POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me
POSTGRES_DB=domainwatch
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

REDIS_HOST=localhost
REDIS_PORT=6379

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=change_me
SMTP_PASSWORD=change_me
SMTP_USE_TLS=True